.venv/
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/

# IDE/editor
.vscode/
.idea/

# macOS
.DS_Store

.--registry=https:/
--registry=https:/
/--registry=https:/

# Node.js
node_modules/
**/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.next/
.next/**/node_modules/

# Log files
*.log
logs/
**/*.log

# PID files
*.pid
**/*.pid

nginx*.conf